body {
    margin: 0;
    padding: 0;
}

.board {
    /* border: 1px solid black; */
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.boardOutline {
    border: 1px solid black;
    width: 50%;
    /* height:500px; */
    /* display: flex; */
}

.leftItem {
    width: 60%;
    border: 1px solid black;
    display: flex;
}

.boardItem {
    width: 100%;
    /* border-top: 1px solid black */
}

.rightItem {
    width: 40%;
    display: flex;
}

.tag {
    width: 15%;
    border: 1px solid black;
}

.title {
    width: 85%;
}

.writer {
    width: 50%;
}

.time {
    width: 30%;
    border: 1px solid black;
}

.views {
    width: 20%;
}

.lowPanel {
    display: flex;
    justify-content: center;
}